@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2b62a0;
  --foreground: #3f1818;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c468b;
    --foreground: #110a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
